---
--- 

body {
    margin: 2rem;
    font-size: 16px;
    line-height: 1.5em;
    font-family: "Josefin Slab", sans-serif;
}

$hl_color: #9B5;

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    @media (max-width: 686px) {
        justify-content: center;
        h1 {
            text-align: center;
        }
    }

    hgroup {
        display: flex;
        flex-direction: column;
        line-height: 1.7rem;
        justify-content: left;
        font-weight: bold;
        a {
            font-size: 2rem;
        }
        p {
            color: #999;
        }
    }
}

.header-menu {
    display: flex;

    ul {
        display: flex;
    }
    li {
        padding: 0 1rem;
    }
}

.post-wrapper, .page-wrapper {
    margin: auto;
    max-width: 50rem;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-weight: bold;
    }

    p,
    ul,
    h2 {
        margin-bottom: 0.5rem;
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }

    .vimeo {
        height: min(540px, 57vw);
    }
    ul {
        padding-left: 2rem;
    }
    img {
        max-width: 100%;
    }
}

.post-wrapper ul {
    list-style-type: "🌻 ";
}

.page-wrapper ul {
    list-style-type: "➺ ";
    ul {
        list-style-type: "⤷ ";
    }
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    img {
        opacity: 100%;
        transition: 0.5s opacity;
        &:hover {
            opacity: 80%;
        }
    }

    &>li {
        display: grid;
        padding-bottom: 1rem;

        a {
            display: grid;
            align-items: center;
            justify-items: right;
            color: #222;
            font-weight: bold;
            font-style: italic;
            &:hover {
                color: #333;
            }

            img {
                max-width: 100%;
                /*transition: filter 0.5s;
                filter: blur(0em);
                &[data-src] {
                    filter: blur(0.2em);
                }*/
            }
        }
    }
    strong {
        font-weight: normal;
    }
}

a {
    color: $hl_color;
    text-decoration: none;

    &:hover {
        color: lighten($hl_color, 15%);
    }
}

.button {
    display: inline-block;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    background-color: $hl_color;
    text-decoration: none;
    color: white;
    &:hover {
        background-color: lighten($hl_color, 15%);
        color: white;
    }
}

footer {
    margin-top: 2rem;
    text-align: center;
    opacity: 25%;
}
