---
---
body {
    margin: 2rem;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
    font-family: "Pangolin", sans-serif;
}

header {
    h1 a {
        font-size: 2rem;
        color: #333;
        text-decoration: none;
        display: inline-block;
    }

    nav {
        display: inline-block;

        ul {
            li {
                display: inline-block;

                a:hover {
                    color: #B96;
                }

                a {
                    display: inline-block;
                    padding: .5rem 1rem;
                    margin-bottom: 1rem;
                    color: #A85;
                    text-decoration: none;
                }
            }
        }
    }
}
.wrapper {
    &>h1 {
        font-size: 1.5rem;
    }
}