
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$headercolor: #333;
$aboutcolor: #135;
$white: #fff;
$linkcolor: darken(red, 10%);

$opensans: "Open Sans", Helvetica, Arial, sans-serif;
$oswald: Oswald, "Helvetica Narrow", "Arial Narrow", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}