#welcome {
    font-size: 24px;
    text-align: center;
    color: $white;
    min-height: 90%; //si pas de support calc
    min-height: calc(100% - 50px);
    padding: 1em 0;
    box-sizing: border-box;
    background-color: $aboutcolor;
    @include background(radial-gradient(center-top, lighten($aboutcolor, 10%) 0%, $aboutcolor 100%));
    h1 {
        margin: 0;
    }
    p {
        padding: 1em 2em;
    }
    nav {
        margin: .5em 0;
        a {
            text-decoration: none;
            font: 24px $oswald;
            display: inline-block;
            border: 2px solid $white;
            padding: .5em;
            margin: .5em;
            border-radius : 100px; //Huge
            color: $white;
            transition: background 1s, color 1s;
            &:hover, &:active, &:focus{
                color: $aboutcolor;
                background: $white;
            }
        }
    }
    @media (max-width: 800px) {
        iframe {
            width: 500px;
            height: 278px;
        }
    }
}