@import 'normalize';

$sans: 'Open Sans', sans-serif;
$crimson: 'Crimson Text', serif;
$dark: #222;

body {
    background-color: $dark;
}

.wrapper {
    color: $dark;
    background-color: #fff;
    max-width: 40rem;
    width: auto;
    margin: 0 auto 2rem;
    font-family: $sans;
    box-shadow: 0 0 1rem #000;
}

%section {
    box-sizing: border-box;
    min-height: 22.5rem;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 0;
}
@each $name in header, hello, education, experience, skills {
    .#{$name}{
        @extend %section;
        background-image: url('imgs/#{$name}.png');
    }
}

.hgroup {
    width: 20rem;
    float: right;
    font-family: $crimson;
    h1 {
        text-align: justify;
        text-align-last: justify;
        font-size: 4rem;
        small, span {
            display: block;
            line-height: 4rem;
        }
        small {
            font-size: 2rem;
            font-weight: normal;
            letter-spacing: .4rem;
        }
        margin: 0;
    }
    p {
        margin: 0;
        font-style: italic;
        span+span {
            float: right;
        }
    }
}

.hello {
    background-size: contain;
    background-position: top left 100px;
    h1 {
        font-size: 6rem;
        font-family: $crimson;
        font-weight: normal;
        margin: .6em 0 0;
    }
    p{
        margin: 0;
        width: 20rem;
    }
}

.education_wrapper {
    width: 20rem;
    padding: 1px 0 2rem;
    color: #fff;
    h1{
        font-family: $crimson;
        color: #f44;
        font-size: 3rem;
        margin: 1rem 0;
    }
    p, h2 {
        margin: 0;
    }
    h2.small {
        margin-top: 1rem;
        font-size: 1rem;
    }
    p.small, ul.small {
        font-size: .8rem;
    }
}

.skills {
    background-size: 40%;
    background-position: center right;
}
.skills_wrapper {
    width: 23rem;
    h1 {
        font-size: 3rem;
        color: #6aa;
        margin: 1rem 0;
        font-family: $crimson;
    }
}
.skills_block {
    display: inline-block;
    width: 9rem;
    padding: 0 2rem 1rem 0;
    vertical-align: top;
    h2 {
        text-align: center;
        color: #6aa;
        margin: 0 0 .5rem;
        font-family: $crimson;
    }
    text-align: center;
    img {
        max-width: 100%;
        padding-top: 2rem;
    }
}

.experience_wrapper {
    color: #fff;
    width: 25rem;
    float: right;
    background-position: top;
    h1 {
        font-size: 2.5rem;
        font-family: $crimson;
        color: #e73;
        margin: 0 0 .8rem;
    }
    h2 {
        font-size: 1rem;
        margin: 0;
    }
    p {
        font-size: .8rem;
        margin: 0 0 .8rem;
    }
}

.footer {
    max-width: 40rem;
    margin: auto;
    img {
        width: 200px;
    }
}
a.button {
    font-family: $sans;
    float: right;
    margin-top: .5rem;
    color: #fff;
    text-decoration: none;
    background-color: #36e;
    border-radius: .3rem;
    padding: .5rem;
}

@media (min-width: 800px) {
    html, body {
        font-size: 20px;
    }
    .wrapper {
        margin-top: 2rem;
    }
}

@media (max-width: 620px) {
    .experience {
        background: #013;
        min-height: auto;
    }
    .experience_wrapper {
        width: auto;
        float: none;
    }
}

@media (max-width: 519px) {
    .skills {
        background: none;
    }
    .skills_wrapper {
        width: auto;
    }
    .skills_block {
        width: 47%;
        padding: 1%;
    }
}

@media (max-width: 360px) {
    .footer {
        text-align: center;
    }
    a.button {
        float: none;
        display: inline-block;
        margin: 2rem;
    }
}

@media (max-width: 346px) {
    .hgroup {
        width: auto;
    }
    .hello p {
        width: auto;
    }
    .education_wrapper {
        width: auto;
    }
}
