body {
    font-size: 16px;
    margin: 0;
    overflow: hidden;
}

.diapo {
    min-height: 100vh;
    position: relative;
    border-top: solid 1px black;
    background: radial-gradient(#024 0%, #012 100%);
}

.intro, .conclu, .texte, .strophe, .illustration {
    display: block;
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.intro, .conclu, .texte, .illustration {
    background-color: #fff;
    padding: 1%;
}
.strophe{
    color: #fff;
    font-size: 2rem;
}

.texte, .strophe, .avant{
    left: -100%;
    transition: left .5s;
}
.avant{
    transition: left .5s 1s;
}
.diapo:target .texte, .diapo:target .strophe, .diapo:target .avant{
    left: 5%;
}

.intro, .conclu, .lets-go{
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.illustration, .apres{
    right: -100%;
    transition: right .5s .5s;
}
.apres{
    transition: right .5s 1.5s;
}
.diapo:target .illustration, .diapo:target .apres{
    right: 5%;
}

.bouton {
    text-decoration: none;
    font-size: 1.5rem;
    position: absolute;
    bottom: 5%;
    padding: 1rem;
    background-color: #B6070F;
    color: #fff;
}

img{
    max-width: 100%;
}
