<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

        {% include meta.html %}

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" type="image/png" href="/ressources/avatar.png">
    
    </head>

    <body>
        <header>
            <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <nav id ="tagsmenu">
                <a href="{{ site.baseurl }}/animation" id="animation-link">Animation</a>
                <a href="{{ site.baseurl }}/cinema" id="cinema-link">Cinéma</a>
                <a href="{{ site.baseurl }}/programmation" id="programmation-link">Programmation</a>
                <a href="{{ site.baseurl }}/bond" id="gun-link">Les parapluies soviétiques</a>
            </nav>
        </header>
        
        {{content}}
        
        <footer id="footer">
            <p>Sauf mention contraire, le contenu de ce blog est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licence Creative Commons Attribution -  Partage dans les Mêmes Conditions 4.0 International</a>.</p>
            <a href="https://github.com/matouche" id="github">Github</a>
            <a href="https://vimeo.com/user12625616" id="vimeo">Vimeo</a>
        </footer>
        {% include analytics.html %}
    </body>
</html>
