<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{site.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="description" content="{{site.description}}" />
  <meta name="author" content="{{site.author}}" />
  <meta property="og:site_name" content="{{site.title}}">
  <meta property="og:title" content="{{ page.title }} - {{site.title}}" />
  <meta property="og:description" content="{{site.description}}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{site.url}}/favicon.png" />
  <link rel="canonical" href="{{site.url}}" />
  <meta property="og:url" content="{{site.url}}" />
  <!--[if IE]>
          <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  <link rel="stylesheet" href="{{site.url}}/reset.css" />
  <link rel="stylesheet" href="{{site.url}}/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Barriecito" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{site.url}}/favicon.png" />

</head>

<body>
  <header class="page-header">
    <hgroup>
      <h1><a href="/">{{site.title}}</a></h1>
      <p>{{site.subtitle}}</p>
    </hgroup>
    <nav class="header-menu">
      <ul>
        <li><a href="{{site.url}}/demo/">Bande démo</a></li>
        <li><a href="https://vimeo.com/mathisdubrul">Vimeo</a></li>
        <li><a href="https://www.instagram.com/mathisdubrul/">Instagram</a></li>
        <li><a href="{{site.url}}/assets/Mathis_Dubrul_CV_2024.pdf">CV</a></li>
      </ul>
    </nav>
  </header>
  {{ content }}
  <footer>
    <p>⁂</p>
    <p>🌍 1000, BXL</p>
  </footer>
</body>

</html>
