<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - Mathis Dubrul</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Mathis Dubrul</title>
  <meta name="description" content="Mathis Dubrul, animateur 2D et réalisateur de films d'animation" />
  <meta name="author" content="Mathis Dubrul" />
  <meta property="og:site_name" content="Mathis Dubrul">
  <meta property="og:title" content="Mathis Dubrul" />
  <meta property="og:description" content="Animateur 2D - Réalisateur de films d'animation" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://matouche.github.io/favicon.png" />
  <link rel="canonical" href="https://matouche.github.io" />
  <meta property="og:url" content="https://matouche.github.io" />
  <!--[if IE]>
          <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./style.css">
  <link rel="icon" type="image/png" href="https://matouche.github.io/favicon.png" />

</head>

<body>
  <header>
    <h1><a href="/">Mathis Dubrul</a></h1>
    <nav>
      <ul>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="https://vimeo.com/mathisdubrul">Vimeo</a></li>
        <li><a href="https://www.instagram.com/mathisdubrul/">Instagram</a></li>
        <li><a href="/cv.html">CV</a></li>
      </ul>
    </nav>
  </header>
  <h1>{{ page.title }}</h1>
  <section>
    {{ content }}
  </section>
  <footer>
    
  </footer>
</body>

</html>