---
layout: default
---
<ul class="grid">
{%- for post in site.categories.portfolio -%}
  <li>
    <a href="{{ post.url }}">
      <img
        src="{{site.url}}/assets/thumbnails/placeholders/{{ post.thumbnail | split: '.' | first }}.jpeg"
        data-src="{{site.url}}/assets/thumbnails/{{ post.thumbnail }}"
        alt="{{ post.title }}">
    <strong>{{post.title}}</strong></a>
  </li>
{%- endfor -%}
</ul>

<script>
    const loadImages = (image) => {
    image.src = image.getAttribute("data-src");
  };

  window.onload = () => {
      let imagesToLoad = document.querySelectorAll("img[data-src]");
      imagesToLoad.forEach((img) => {
        loadImages(img);
      })
  };


</script>
